#friends-diplay-link{
     background-color: #FAFAFA;
     text-align: center;
     display: block;
     padding: 15px 0px;
     margin-bottom: 15px;
     margin-top: -15px;
}

#friends-diplay-link i{
    color: rgba(0, 0, 0, 0.2);
    margin: 0px 6px;
}

.friends-screen{
    padding: 0px var(--horizontal-space)
}

.fiends-screen__channel{
    margin-top: 20px;
    padding-top: 20px;
    border-top: var(--main-border);
}

.fiends-screen__channel-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
}
@keyframes hideSplash{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        visibility: hidden;
    }
}
.splash-screen{
    background-color: var(--yellow);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    animation: hideSplash 0.4s ease-in-out forwards;
    animation-delay: 1s;
}