.nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #F9F9FA;
    padding: 18px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(145, 145, 145, 0.2);
}
.nav__list{
    display: flex;
    justify-content: space-between;
} 

.nav__link{
    position: relative;
    color: #2F363E;
}

.nav__notification{
    position: absolute;
    bottom: 16px;
    left: 22px;
}

.nav__settings{
    position: absolute;
    left: 30px;
    bottom: 28px;
    width: 6px;
    height: 6px;
    background-color: tomato;
    border-radius: 3px;
}