.screen-header{
    margin: 15px 0 20px;
    padding: var(--horizontal-space);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.screen-header__title{
    font-size: 28px;
    font-weight: 600;
}
.screen-header__icons{
    position: relative;
    padding-right: 10px;
}
.screen-header__icons span{
    margin-left: 20px;
}

.screen-header__notice{
    position: absolute;
    right: 2px;
    bottom: 20px;
}

@keyframes rotateCog{
    from{
        transform: none;
    }
    to{
        transform: rotateZ(360deg);
    }
}

.screen-header .fa-cog:hover{
    animation: rotateCog 2.5s linear infinite;
}
