/* .user-component, */
.user-component{
    justify-content: space-between;
    margin-bottom: 30px;
}

.user-component, 
.user-component__column:first-child{
    display: flex;
    align-items: center;
    
}

.user-component__avatar{
    background-color: var(--yellow);
    width: 70px;
    height: 70px;
    border-radius: 26px;
    margin-right: 17px;
}

.user-component__avatar__xl{
    width: 80px;
    height: 80px;
}

.user-component__avatar--sm {
    width: 60px;
    height: 60px;
    border-radius: 25px;
  }

.user-component__title{
    font-size: 22px;
    font-weight: 600;
}

.user-component__subtitle{
    font-size: 15px;
    color: var(--sub-small-title);
    margin-top: 10px;
}

.user-component__title--not-bold{
    font-weight: 200;
    font-size: 20px;
}

.user-component__column:last-child {
    color: var(--sub-small-title);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-component__time{
    margin-bottom: 10px;
    display: block;
}

.user-component__alert{
    padding-top: 34px;
    padding-left: 5px;
    color: tomato;
    font-size: 15px;
}
.user-component__service{
    color: rgba(0, 0, 0, 0.6);
    margin-right: 8px;
    font-size: 25px;
}